# SPDX-License-Identifier: Apache-2.0
image:
  repository: ghcr.io/hiero-ledger/hiero-block-node/simulator-image
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
resources: {}
nodeSelector: {}
tolerations: []
affinity: {}

replicas: 1

simulator:
  config:
    JAVA_TOOL_OPTIONS: "-Djava.util.logging.config.file=/app/logs/config/logging.properties"
    # either CONSUMER or PUBLISHER
    BLOCK_STREAM_SIMULATOR_MODE: "PUBLISHER_CLIENT"
    GRPC_SERVER_ADDRESS: "my-bn-block-node-helm-chart"
    # GENERATOR_START_BLOCK_NUMBER: 0
    # GENERATOR_MIN_TRANSACTIONS_PER_EVENT: 500
    # GENERATOR_MAX_TRANSACTIONS_PER_EVENT: 5000
    # BLOCK_STREAM_BLOCK_ITEMS_BATCH_SIZE: 250
    # BLOCK_STREAM_MILLISECONDS_PER_BLOCK: 1000
  secret:
    PRIVATE_KEY: "fake_private_key"
