# SPDX-License-Identifier: Apache-2.0

# This override values for the block-node-server chart to deploy a mini version of the block-node-server.
# This is useful for testing and development purposes with limited resources.
# ie: minikube

resources:
  requests:
    cpu: "4"
    memory: "8Gi"

blockNode:
  config:
    JAVA_OPTS: '-Xms4G -Xmx4G  -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath="/tmp/dump.hprof"'
    MESSAGING_BLOCK_ITEM_QUEUE_SIZE: "64"
    MESSAGING_BLOCK_NOTIFICATION_QUEUE_SIZE: "8"
    BACKFILL_FETCH_BATCH_SIZE: "4"
  persistence:
    archive:
      size: 6Gi
    live:
      size: 1Gi
    logging:
      size: 1Gi

# Setting the PVC size for the Observability stack to mini claims of 1 Gigabyte
kubepromstack:
  prometheus:
    prometheusSpec:
      storageSpec:
        volumeClaimTemplate:
          spec:
            resources:
              requests:
                storage: 1Gi
  grafana:
    persistence:
      size: 1Gi

loki:
  persistence:
    size: 1Gi
