# SPDX-License-Identifier: Apache-2.0

# This override values for the block-node-server chart to deploy a mini version of the block-node-server.
# This is useful for testing and development purposes with limited resources.
# ie: minikube

resources:
  requests:
    cpu: "500m"
    memory: "1Gi"
  limits:
    cpu: "1"
    memory: "1.5Gi"

blockNode:
  config:
    JAVA_OPTS: '-Xms1G -Xmx1G  -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath="/tmp/dump.hprof"'
    MESSAGING_BLOCK_ITEM_QUEUE_SIZE: "128"
    MESSAGING_BLOCK_NOTIFICATION_QUEUE_SIZE: "16"
    BACKFILL_FETCH_BATCH_SIZE: "5"
  persistence:
    archive:
      size: 1Gi
      # Optionally specify an existing PVC name instead of creating via volumeClaimTemplate
      existingClaim: "nano-archive-storage"
    live:
      size: 1Gi
      # Optionally specify an existing PVC name instead of creating via volumeClaimTemplate
      # existingClaim: "nano-live-pvc"
    logging:
      size: 1Gi
      # Optionally specify an existing PVC name instead of creating via volumeClaimTemplate
      # existingClaim: "nano-logging-pvc"
    verification:
      size: 100Mi
      # Optionally specify an existing PVC name instead of creating via volumeClaimTemplate
      # existingClaim: "nano-verification-pvc"
  health:
    readiness:
      initialDelaySeconds: 30
      timeoutSeconds: 3
    liveness:
      initialDelaySeconds: 35
      periodSeconds: 10
      timeoutSeconds: 3
      successThreshold: 1
      failureThreshold: 3

kubepromstack:
  enabled: false

loki:
  enabled: false

promtail:
  enabled: false
