# SPDX-License-Identifier: Apache-2.0
name: "Local Node E2E Tests"

on:
  push:
    branches: [main]
    tags: ["v*"]
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  smart-contracts-tests:
    uses: ./.github/workflows/local-node-test-reusable.yaml
    with:
      networkNodeTag: ""
      mirrorNodeTag: ""
      relayTag: ""
      branch: ${{ github.event.pull_request.head.ref || github.ref_name }}
