# SPDX-License-Identifier: Apache-2.0
name: "Local Node E2E Tests Workflow"

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Specify the branch to run the workflow on (default: main)"
        required: false
        type: string
        default: "main"
      networkNodeTag:
        description: "Specify desired Network Node image tag"
        required: false
        type: string
        default: ""
      mirrorNodeTag:
        description: "Specify desired Mirror-Node image tag"
        required: false
        type: string
        default: ""
      relayTag:
        description: "Specify desired Hedera JSON-RPC Relay tag"
        required: false
        type: string
        default: ""
  workflow_call:
    inputs:
      branch:
        description: "Specify the branch to run the workflow on (default: main)"
        required: false
        type: string
        default: "main"
      networkNodeTag:
        description: "Specify desired Network Node image tag"
        required: false
        type: string
        default: ""
      mirrorNodeTag:
        description: "Specify desired Mirror-Node image tag"
        required: false
        type: string
        default: ""
      relayTag:
        description: "Specify desired Hedera JSON-RPC Relay tag"
        required: false
        type: string
        default: ""

defaults:
  run:
    shell: bash

env:
  GRADLE_EXEC: "ionice -c 2 -n 2 nice -n 19 ./gradlew "
  NPX_RUN: "ionice -c 2 -n 2 nice -n 19 npx "
  NPM_RUN: "ionice -c 2 -n 2 nice -n 19 npm "

permissions:
  contents: read

jobs:
  local-node-test:
    name: "Local Node Acceptance Tests"
    timeout-minutes: 90
    runs-on: hiero-block-node-linux-medium
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - name: Checkout Block Node
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          ref: ${{ inputs.branch }}

      - name: Expand Shallow Clone for Spotless
        run: |
          if [ -f .git/shallow ]; then
            git fetch --unshallow --no-recurse-submodules
          else
            echo "Repository is not shallow, no need to unshallow."
          fi

      - name: Set up JDK 21
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          distribution: "temurin"
          java-version: "21.0.6"

      - name: Cache Gradle packages
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Build Block Node Docker Image
        run: ${GRADLE_EXEC} :block-node-app:createDockerImage

      - name: Checkout Local Node
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: hiero-ledger/hiero-local-node
          path: local-node

      - name: Use Node.js [20]
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20

      - name: Install Local Node Dependencies
        working-directory: local-node
        run: ${NPM_RUN} install
        timeout-minutes: 5

      - name: Modify Docker Compose
        working-directory: local-node
        run: |
          # Get the current version from the block-node project
          BLOCK_NODE_VERSION=$(cd .. && ./gradlew :block-node-app:properties | grep "version:" | awk '{print $2}')
          # Replace the block-node image in docker-compose.yml
          sed -i "s|image: \"\${BLOCK_NODE_IMAGE_PREFIX}hiero-block-node:\${BLOCK_NODE_IMAGE_TAG}\"|image: \"block-node-app:${BLOCK_NODE_VERSION}\"|" docker-compose.yml
          # Update the VERSION environment variable
          sed -i "s|VERSION: \${BLOCK_NODE_IMAGE_TAG}|VERSION: ${BLOCK_NODE_VERSION}|" docker-compose.yml

      - name: Start Local Node
        working-directory: local-node
        run: ${NPM_RUN} run start:block-node -- --verbose=trace --network-tag=${{inputs.networkNodeTag}} --mirror-tag=${{inputs.mirrorNodeTag}} --relay-tag=${{inputs.relayTag}}

      - name: Checkout Hedera Smart Contracts
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: hashgraph/hedera-smart-contracts
          path: hedera-smart-contracts

      # This step is required to avoid "HardhatFoundryError: Couldn't run `forge`"
      - name: Install Foundry
        uses: step-security/foundry-toolchain@9997259130641e12dec5e2bfa071f3e370c0a250 # v1.2.2
        with:
          version: nightly

      - name: Prepare Smart Contracts Environment
        working-directory: hedera-smart-contracts
        run: |
          ${NPM_RUN} install
          cp local.env .env

      - name: Run Smart Contract Tests
        working-directory: hedera-smart-contracts
        run: ${NPX_RUN} hardhat test --grep "ERC20|TokenCreateContract|TokenManagmentContract|Proxy|HIP583|Multicall|BLSSignature|HAS" || true

      - name: Checkout Hiero JSON-RPC Relay
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: hiero-ledger/hiero-json-rpc-relay
          path: hiero-json-rpc-relay

      - name: Prepare JSON-RPC Relay
        working-directory: hiero-json-rpc-relay
        run: |
          # Install dependencies
          ${NPM_RUN} ci
          # Copy the localAcceptance.env file to the root of the project
          cp ./packages/server/tests/localAcceptance.env .env
          # Install pnpm globally
          ${NPM_RUN} install -g pnpm
          # Build the project
          ${NPX_RUN} lerna run build
          # Stop docker json-rpc container
          docker stop json-rpc-relay json-rpc-relay-ws

      - name: Run JSON-RPC Relay Tests
        working-directory: hiero-json-rpc-relay
        run: |
          ${NPM_RUN} run acceptancetest:api_batch1 || true
          ${NPM_RUN} run acceptancetest:api_batch2 || true
          ${NPM_RUN} run acceptancetest:api_batch3 || true
          ${NPM_RUN} run acceptancetest:htsprecompilev1 || true
          ${NPM_RUN} run acceptancetest:precompile-calls || true

      - name: Check Block Node Logs
        if: always()
        run: |
          echo "Checking block-node logs for errors..."
          LOGS=$(docker logs block-node)
          echo "$LOGS"

          # Check for errors and exceptions
          if echo "$LOGS" | grep -iE "ERROR:|Exception" > /dev/null; then
            echo "Found errors or exceptions in block-node logs. Failing workflow."
            exit 1
          fi
          echo "No errors or exceptions found in block-node logs."

      - name: Stop Local Node
        if: always()
        working-directory: local-node
        run: ${NPM_RUN} run stop
