# SPDX-License-Identifier: Apache-2.0
name: Release Workflow

on:
  push:
    # `v*` tags are used for production environment
    tags:
      - v*
    # `main` tag is used for integration environment
    branches:
      - main
  # Manual trigger with custom release tag
  workflow_dispatch:
    inputs:
      version:
        description: "Release tag:"
        type: string
        required: false
      publish:
        description: "Publish to registries?"
        type: boolean
        required: false
        default: true

defaults:
  run:
    shell: bash

permissions:
  id-token: write
  contents: write
  packages: write

env:
  OWNER: hashgraph
  PACKAGE_NAME: hedera-block-node
  REGISTRY: ghcr.io
  GRADLE_EXEC: "ionice -c 2 -n 2 nice -n 19 ./gradlew "
  JAVA_DISTRIBUTION: "temurin"
  JAVA_VERSION: "21.0.6"
  DOCKER_MIRROR: "https://hub.mirror.docker.lat.ope.eng.hashgraph.io"
  BUILDKIT_VERSION: "v0.22.0"

jobs:
  package-protobuf-source:
    timeout-minutes: 5
    runs-on: hiero-block-node-linux-medium

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Extract version
        id: extract_version
        run: |
          VERSION=$(cat version.txt)
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

      - name: Set up JDK 21
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: "temurin"
          java-version: "21.0.6"

      - name: Produce artifact
        run: ${GRADLE_EXEC} :block-node-protobuf-sources:generateBlockNodeProtoArtifact

      - name: Upload artifact
        if: "${{ github.event_name != 'workflow_dispatch' || github.event.inputs.publish == 'true' }}"
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: block-node-protobuf-${{ env.VERSION }}.tgz
          path: ./protobuf-sources/block-node-protobuf-${{ env.VERSION }}.tgz
          if-no-files-found: error

      # skip if non-draft release already exists
      - name: Attach artifact to GitHub Release
        uses: step-security/release-action@03a57407052f15d1537fd5469a6fbbc536aba326
        with:
          tag: v${{ env.VERSION }}
          allowUpdates: true
          draft: true
          skipIfReleaseExists: true
          artifacts: |
            ./protobuf-sources/block-node-protobuf-${{ env.VERSION }}.tgz
          token: ${{ secrets.GITHUB_TOKEN }}

  publish-app:
    timeout-minutes: 30
    runs-on: hiero-block-node-linux-medium

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Install JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}

      - name: Build
        run: ${GRADLE_EXEC} clean assemble

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Qemu
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          driver-opts: network=host
          buildkitd-config-inline: |
            [registry."docker.io"]
              mirrors = ["${{ env.DOCKER_MIRROR }}"]
          version: ${{ env.BUILDKIT_VERSION }}

      - name: Extract version
        id: extract_version
        run: |
          VERSION=$(cat version.txt)
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

      - name: Extract Source Date Epoch
        id: extract_source_date_epoch
        run: |
          SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)
          echo "SOURCE_DATE_EPOCH=${SOURCE_DATE_EPOCH}" >> $GITHUB_ENV

      - name: Server - Build and push image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ./block-node/app/docker
          file: ./block-node/app/docker/Dockerfile
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64, linux/arm64
          push: "${{ github.event_name != 'workflow_dispatch' || github.event.inputs.publish == 'true' }}"
          tags: ${{ env.REGISTRY }}/${{ github.repository }}:${{ env.VERSION }}
          build-args: |
            VERSION=${{ env.VERSION }}
            SOURCE_DATE_EPOCH=${{ env.SOURCE_DATE_EPOCH }}
          build-contexts: |
            distributions=./block-node/app/build/distributions

  publish-protobuf-jar:
    timeout-minutes: 30
    runs-on: hiero-block-node-linux-medium

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Install GnuPG Tools
        if: "${{ github.event_name != 'workflow_dispatch' || github.event.inputs.publish == 'true' }}"
        run: |
          if ! command -v gpg2 >/dev/null 2>&1; then
            echo "::group::Updating APT Repository Indices"
              sudo apt update
            echo "::endgroup::"
            echo "::group::Installing GnuPG Tools"
              sudo apt install -y gnupg2
            echo "::endgroup::"
          fi

      - name: Import GPG key
        id: gpg_key
        uses: step-security/ghaction-import-gpg@69c854a83c7f79463f8bdf46772ab09826c560cd # v6.3.1
        with:
          gpg_private_key: ${{ secrets.GPG_KEY_CONTENTS }}
          passphrase: ${{ secrets.GPG_KEY_PASSPHRASE }}
          git_config_global: true
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_tag_gpgsign: true

      - name: Install JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}

      - name: Build
        run: ${GRADLE_EXEC} clean assemble

      - name: Extract version
        id: extract_version
        run: |
          VERSION=$(cat version.txt)
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

      - name: Publish protobuf jar to Maven Central
        if: "${{ github.event_name != 'workflow_dispatch' || github.event.inputs.publish == 'true' }}"
        env:
          NEXUS_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        # If VERSION is *-SNAPSHOT the publishing directs to Maven Central Snapshots, otherwise to Maven Central
        run: ./gradlew publishAggregationToCentralPortal -PpublishSigningEnabled=true

  publish-simulator:
    timeout-minutes: 30
    runs-on: hiero-block-node-linux-medium

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Install JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}

      - name: Build
        run: ${GRADLE_EXEC} clean assemble

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Qemu
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          driver-opts: network=host
          buildkitd-config-inline: |
            [registry."docker.io"]
              mirrors = ["${{ env.DOCKER_MIRROR }}"]
          version: ${{ env.BUILDKIT_VERSION }}

      - name: Extract version
        id: extract_version
        run: |
          VERSION=$(cat version.txt)
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

      # Build and push SIMULATOR image
      - name: Simulator - Prepare docker directory
        run: |
          ${GRADLE_EXEC} :simulator:copyDependenciesFolders

      - name: Simulator - Build and push image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ./tools-and-tests/simulator/build/docker
          file: ./tools-and-tests/simulator/build/docker/Dockerfile
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64, linux/arm64
          push: "${{ github.event_name != 'workflow_dispatch' || github.event.inputs.publish == 'true' }}"
          tags: ${{ env.REGISTRY }}/${{ github.repository }}/simulator-image:${{ env.VERSION }}
          build-args: |
            VERSION=${{ env.VERSION }}

  helm-chart-release-app:
    timeout-minutes: 15
    needs: publish-app
    runs-on: hiero-block-node-linux-medium

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract version
        id: extract_version
        run: |
          VERSION=$(cat version.txt)
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

      - name: Package helm chart
        run: |
          helm dependency update charts/block-node-server
          helm package charts/block-node-server

      - name: Push helm chart
        if: "${{ github.event_name != 'workflow_dispatch' || github.event.inputs.publish == 'true' }}"
        run: |
          helm push block-node-server-${{ env.VERSION }}.tgz oci://ghcr.io/hiero-ledger/hiero-block-node

  helm-chart-release-simulator:
    timeout-minutes: 15
    needs: publish-simulator
    runs-on: hiero-block-node-linux-medium

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract version
        id: extract_version
        run: |
          VERSION=$(cat version.txt)
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

      - name: Simulator Chart - Package helm chart
        run: |
          helm dependency update charts/blockstream-simulator
          helm package charts/blockstream-simulator

      - name: Simulator Chart - Push helm chart
        if: "${{ github.event_name != 'workflow_dispatch' || github.event.inputs.publish == 'true' }}"
        run: |
          helm push blockstream-simulator-chart-${{ env.VERSION }}.tgz oci://ghcr.io/hiero-ledger/hiero-block-node
